.profile__title-container {
    max-width: 336px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
@media (max-width: 600px) {
    .profile__title-container {
        justify-content: center;
        margin-top: 26px;
        max-width: 282px;
    }
}
@media (max-width: 320px) {
    .profile__title-container {
        max-width: 320px;
    }
}