.profile__add-button {
    width: 150px;
    height: 50px;

    box-sizing: border-box;
    object-fit: contain;

    background: transparent url("../../../images/button_icon_add.svg") center no-repeat;
    border: 1px solid #FFFFFF;

    border-radius: 2px;
    border-color: #ffffff;
    margin: 0;
    padding: 0;
    /* background: #000000; */
}
@media (max-width: 600px) {
    .profile__add-button {
        width: 282px;
    }   
}
.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}